<h2>Products</h2>
<div style="background-color:Bisque" *ngFor="let productOuter of products">
	<h3>
		<a [title]="productOuter.name + ' detail'"
    [routerLink]="['/products', productOuter.id]">>
			{{ productOuter.name }} <br>
    </a>
	</h3>
	<h4>
		<p *ngIf="productOuter.description">
			Description : {{productOuter.description}}
		</p>
	</h4>
	<hr />
	<button (click)="share()">
    Share Product
  </button>
	<app-product-alert [productInner]="productOuter" (notify)="onNotify()">
	</app-product-alert>
</div>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->